<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800"> Cadastrar Equipe </h1>
    <div class="card shadow mb-4">
      <div class="card-body">
        <%= simple_form_for team do |f| %>
          <div class="row">
            <div class="col-md-8">
              <%= f.input :name, label: "Nome do Equipe"%>
            </div>
            <div class="col-md-4">
              <%= f.input :qnt, label: "Quantidade de Componentes"%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :manager, label: "Equipe Dirigente?"%>
            </div>
          </div>
          <%= f.button :submit, "Cadastrar Equipe", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer"%>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


             
