<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800"> Editar Palestra </h1>
    <div class="card shadow mb-4">
      <div class="card-body">
        <%= simple_form_for lecture do |f| %>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :name, label: "Título Palestra"%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :date_lecture, order: [:day, :month, :year], label: "Data"%>
            </div>
            <div class="col-md-6">
              <%= f.input :time_lecture, label: "Horário"%>
            </div>
          </div>
          <%= f.button :submit, "Editar Palestra", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer"%>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>