<div class="modal fade" id="modalPrimeiraReuniao" tabindex="-1" role="dialog" aria-labelledby="modalPrimeiraReuniao"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Respostas Primeira Reunião</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

               <div class="card-body">
                    <h3 class="h3 text-gray-800">AS DIMENSÕES DO SER HUMANO E SUA VOCAÇÃO E A VIDA EM FAMÍLIA </h3>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#primeiraTemaUm" aria-expanded="false" aria-controls="flush-collapseOne">
                                 <h6 class="h6 text-gray-700 text-justify me-4">1. Como tem sido o comportamento do jovem na família? </h6>
                            </button>
                            </h2>
                            <div id="primeiraTemaUm" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <% circles.each do |circle|%>
                                            <% if existeCirculo?(circle.id)%>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#temaUmPerguntaUm<%= circle.color%>" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        <span class="show"><%= circle.color%></span>
                                                    </button>
                                                    </h2>
                                                    <div id="temaUmPerguntaUm<%= circle.color %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" id="temaUmPerguntaUmCirculo<%= circle.color %>" aria-describedby="nomeCirculo">
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success mt-4" type="button" onClick="cadastrarRespostas('<%= circle.color %>','Um','Um')"> Cadastrar Resposta </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>       

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#segundaTemaUm" aria-expanded="false" aria-controls="flush-collapseOne">
                                 <h6 class="h6 text-gray-700 text-justify me-4">2. Quais os fatores que interferem negativamente no relacionamento familiar e o que você pode fazer para melhorar? </h6>
                            </button>
                            </h2>
                            <div id="segundaTemaUm" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <% circles.each do |circle|%>
                                            <% if existeCirculo?(circle.id)%>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#temaUmPerguntaDois<%= circle.color%>" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        <span class="show"><%= circle.color%></span>
                                                    </button>
                                                    </h2>
                                                    <div id="temaUmPerguntaDois<%= circle.color %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" id="temaUmPerguntaDoisCirculo<%= circle.color %>" aria-describedby="nomeCirculo">
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success mt-4" type="button" onClick="cadastrarRespostas('<%= circle.color %>','Um','Dois')"> Cadastrar Resposta </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 

                      <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terceiraTemaUm" aria-expanded="false" aria-controls="flush-collapseOne">
                                 <h6 class="h6 text-gray-700 text-justify me-4">3. O ser humano deve crescer e amadurecer física e intelectualmente, emocional e espiritualmente para viver em harmonia consigo, com a comunidade e com Deus. Quais as dificuldades que você encontra para esse crescimento? </h6>
                            </button>
                            </h2>
                            <div id="terceiraTemaUm" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <% circles.each do |circle|%>
                                            <% if existeCirculo?(circle.id)%>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#temaUmPerguntaTres<%= circle.color%>" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        <span class="show"><%= circle.color%></span>
                                                    </button>
                                                    </h2>
                                                    <div id="temaUmPerguntaTres<%= circle.color %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" id="temaUmPerguntaTresCirculo<%= circle.color %>" aria-describedby="nomeCirculo">
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success mt-4" type="button" onClick="cadastrarRespostas('<%= circle.color %>','Um','Tres')"> Cadastrar Resposta </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                                
                </div>          
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>