<div class="modal fade" id="modalTerceiraReuniao" tabindex="-1" role="dialog" aria-labelledby="modalTerceiraReuniao"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Respostas Terceira Reunião</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

               <div class="card-body">
                    <h3 class="h3 text-gray-800">CONHECENDO A CEIA EUCARÍSTICA E UM HOMEM CHAMADO JESUS </h3>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#primeiraTemaTres" aria-expanded="false" aria-controls="flush-collapseOne">
                                 <h6 class="h6 text-gray-700 text-justify me-4">1. Alguma vez você já sentiu a presença de Jesus em sua vida? Quando?</h6>
                            </button>
                            </h2>
                            <div id="primeiraTemaTres" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <% circles.each do |circle|%>
                                            <% if existeCirculo?(circle.id)%>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#primeiraTemaTres<%= circle.color%>" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        <span class="show"><%= circle.color%></span>
                                                    </button>
                                                    </h2>
                                                    <div id="primeiraTemaTres<%= circle.color %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" id="temaTresPerguntaUmCirculo<%= circle.color %>" aria-describedby="nomeCirculo">
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success mt-4" type="button" onClick="cadastrarRespostas('<%= circle.color %>','Tres','Um')"> Cadastrar Resposta </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>       

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#segundaTemaTres" aria-expanded="false" aria-controls="flush-collapseOne">
                                 <h6 class="h6 text-gray-700 text-justify me-4">2. Segundo Santo Agostinho, o homem só ama o que conhece. Você está disposto a conhecer melhor a proposta de Cristo para decidir segui-lo?  </h6>
                            </button>
                            </h2>
                            <div id="segundaTemaTres" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <% circles.each do |circle|%>
                                            <% if existeCirculo?(circle.id)%>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#segundaTemaTres<%= circle.color%>" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        <span class="show"><%= circle.color%></span>
                                                    </button>
                                                    </h2>
                                                    <div id="segundaTemaTres<%= circle.color %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" id="temaTresPerguntaDoisCirculo<%= circle.color %>" aria-describedby="nomeCirculo">
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success mt-4" type="button" onClick="cadastrarRespostas('<%= circle.color %>','Tres','Dois')"> Cadastrar Resposta </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 

                      <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terceiraTemaTres" aria-expanded="false" aria-controls="flush-collapseOne">
                                 <h6 class="h6 text-gray-700 text-justify me-4">3. Na celebração eucarística nós devemos participar e não apenas estar presentes. Como tem sido a sua participação?  </h6>
                            </button>
                            </h2>
                            <div id="terceiraTemaTres" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <% circles.each do |circle|%>
                                            <% if existeCirculo?(circle.id)%>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terceiraTemaTres<%= circle.color%>" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        <span class="show"><%= circle.color%></span>
                                                    </button>
                                                    </h2>
                                                    <div id="terceiraTemaTres<%= circle.color %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="text" class="form-control" id="temaTresPerguntaTresCirculo<%= circle.color %>" aria-describedby="nomeCirculo">
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success mt-4" type="button" onClick="cadastrarRespostas('<%= circle.color %>','Tres','Tres')"> Cadastrar Resposta </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                                
                </div>          
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>