<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Seguidores</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Seguidores Cadastrados</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th class="col-5">Nome do Seguidor</th>
                        <th class="col-2">Idade</th>
                        <th class="col-3">Paróquia</th>
                        <th colspan="1"></th>
                        </tr>
                    </thead>
                    <tfoot>
                    <tbody>
                        <% @followers.each do |follower| %>
                        <tr>
                            <td class="show"><%= follower.nome %></td>
                            <td class="show"><%= follower.idade %> anos </td>
                            <td class="show"><%= follower.parish_id %></td>
                            <td>
                                <%= link_to follower,  class:"btn btn-success", style: "margin-bottom: 2px;" do %>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                <% end %>

                                <%= link_to edit_follower_path(follower),  class:"btn btn-primary", style: "margin-bottom: 2px;" do %>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                <% end %>

                                <%= link_to follower, method: :delete, data: { confirm: 'Você tem certeza?' }, class:"btn btn-danger", style: "margin-bottom: 2px;" do %>
                                    <i class="fa-regular fa-trash-can"></i>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
</div>

<!-- Footer -->
<%= render "layouts/footer"%>
<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


            