<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">
        <%= if params[:tipo_encontrista] == "Seguidor"
         "Seguidores Cadastrados"
        else 
         "Seguimistas Cadastrados"
        end %> 
    </h1>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th class="col-5">Nome do <%=params[:tipo_encontrista]%></th>
                        <th class="col-1">Idade</th>
                        <th class="col-2">Contato</th>
                        <th class="col-2">Encontrista</th>
                        <th colspan="1"></th>
                        </tr>
                    </thead>
                    <tfoot>
                    <tbody>
                        <% @followers.each do |follower| %>
                        <tr>
                            <td class="show"><%= follower.nome %></td>
                            <td class="show"><%= follower.idade %> anos </td>
                            <td class="show"><%= follower.contact.contato_1 %></td>
                            <td class="show"><%= follower.tipo_encontrista %></td>
                            <td>
                                <%= link_to follower,  class:"btn btn-warning", style: "margin-bottom: 2px;" do %>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                <% end %>

                                <%= link_to edit_follower_path(follower),  class:"btn btn-primary", style: "margin-bottom: 2px;" do %>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                <% end %>

                                <%= link_to follower, method: :delete, data: { confirm: 'Você tem certeza?' }, class:"btn btn-danger", style: "margin-bottom: 2px;" do %>
                                    <i class="fa-regular fa-trash-can"></i>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
</div>

<!-- Footer -->
<%= render "layouts/footer"%>
<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


            