  <div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Detalhes Seguidor</h1>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="card-header">
            <h3 class="well"><%= @follower.nome %></h3>
        </div>

        <div class="container mt-4">
          <div class="form-horizontal">

            <div class="control-group">
              <label class="control-label show"><strong>Idade: </strong> <%= @follower.idade %> anos</label>
            </div>

            <div class="control-group">
              <label class="control-label show"><strong>Paróquia: </strong><%= @follower.parish.nome_paroquia %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Telefone: </strong><%= @follower.contact.contato_1 %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Email: </strong><%= @follower.email %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Endereço: </strong><%= @follower.endereco %></label>
            </div>

             <div class="control-group mt-4">
                <%= link_to 'Editar', edit_follower_path(@follower), class:"btn btn-primary" %>
                <%= link_to 'Voltar', followers_path, class:"btn btn-secondary" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

