  <div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Detalhes Encontrista</h1>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="card-header">
            <h3 class="well"><%= @follower.name %></h3>
        </div>

        <div class="container mt-4">
          <div class="form-horizontal">

            <div class="control-group">
              <label class="control-label show"><strong>Encontrista: </strong> <%= @follower.type_date %></label>
            </div>

            <div class="control-group">
              <label class="control-label show"><strong>Idade: </strong> <%= @follower.age %> anos</label>
            </div>

            <div class="control-group">
              <label class="control-label show"><strong>Paróquia: </strong><%= @follower.parish.name %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Telefone: </strong><%= @follower.contact.contact %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Email: </strong><%= @follower.email %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Endereço: </strong><%= @follower.address %></label>
            </div>

             <div class="control-group mt-4">
                <%= link_to 'Editar', edit_follower_path(@follower), class:"btn btn-primary" %>
                <%= link_to 'Voltar', "/followers/list/#{@follower.type_date}", class:"btn btn-secondary" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

