<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Montar Equipe</h1>
    <div class="card shadow mb-4">
      <div class="card-body">
        <%= simple_form_for @mounting, url: mounting_teams_path do |f| %>
            <div class="row">
                <div class="col-md-12">
                    <%= f.association :team, collection: Team.order('name') ,label_method: :name, :include_blank => "Selecione a equipe",value_method: :id, label: "Equipe"%>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <%= f.input :occupation, as: :select, collection: ["Jovem Equipista", "Jovem Apoio", "Jovem Coordenador", "Casal Equipista", "Casal Apoio", "Casal Coordenador", "Dirigente Espiritual"], label: "Função na Equipe", selected: "Jovem Equipista" %>
                </div>
                <div class="col-md-4">
                    <%= f.input :year, label: "Ano do Encontro", order: [:year] %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <%= f.input :follower_id, as: :select, :collection => @followers,  input_html: { id: "seguidoresTeams" },
                      :label_method => :name, :value_method => :id, :label => "Escolher Seguidor" , :include_blank => false %>
                </div>
            </div>
            <%= f.button :submit, "Inserir na Equipe", class: "btn btn-primary"%>
            <%= link_to 'Voltar', mounting_teams_path, class:"btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer"%>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
