<table class="table table-bordered mt-5" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th colspan="12" class="tema">TEMA: "AS DIMENSÕES DO SER HUMANO E SUA VOCAÇÃO" E "A VIDA EM FAMÍLIA"  </th>
        </tr>
         <tr>
            <th colspan="12" class="tema-pergunta">1. Como tem sido o comportamento do jovem na família?</th>
        </tr>
    </thead>
    <tbody>
        <% circles.each do |c| %>
            <% if existeCirculo?(c.id) %>
                <tr>
                    <td class="show-quadrante col-2 text-uppercase" style="font-weight: 700;" colspan="2">CÍRCULO <%= c.color %> </br> <span id="circulo11<%= c.color %>"</td>
                    <td class="show-quadrante col-10 td-respostas" id="resposta11<%= c.color %>" colspan="10"></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<p class="quebra-de-pagina"></p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th colspan="12" class="tema">TEMA: "AS DIMENSÕES DO SER HUMANO E SUA VOCAÇÃO" E "A VIDA EM FAMÍLIA"  </th>
        </tr>
         <tr>
            <th colspan="12" class="tema-pergunta">2. Quais os fatores que interferem negativamente no relacionamento familiar e o que você pode fazer para melhorar? </th>
        </tr>
    </thead>
    <tbody>
        <% circles.each do |c| %>
            <% if existeCirculo?(c.id) %>
                <tr>
                    <td class="show-quadrante col-2 text-uppercase" style="font-weight: 700;" colspan="2">CÍRCULO <%= c.color %> </br> <span id="circulo12<%= c.color %>"</td>
                    <td class="show-quadrante col-10 td-respostas" id="resposta12<%= c.color %>" colspan="10"></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<p class="quebra-de-pagina"></p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th colspan="12" class="tema">TEMA: "AS DIMENSÕES DO SER HUMANO E SUA VOCAÇÃO" E "A VIDA EM FAMÍLIA"  </th>
        </tr>
         <tr>
            <th colspan="12" class="tema-pergunta">3. O ser humano deve crescer e amadurecer física e intelectualmente, emocional e espiritualmente para viver em harmonia consigo, com a comunidade e com Deus. Quais as dificuldades que você encontra para esse crescimento? </th>
        </tr>
    </thead>
    <tbody>
        <% circles.each do |c| %>
            <% if existeCirculo?(c.id) %>
                <tr>
                    <td class="show-quadrante col-2 text-uppercase" style="font-weight: 700;" colspan="2">CÍRCULO <%= c.color %><br><span id="circulo13<%= c.color %>"></td>
                    <td class="show-quadrante col-10 td-respostas" id="resposta13<%= c.color %>" colspan="10"></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>