<%= render "capa" %>
<p class="quebra-de-pagina"></p>

<%= render "padroeiro_encontro" %>
<p class="quebra-de-pagina"></p>

<%= render "padroeiro_paroquia" %>
<p class="quebra-de-pagina"></p>

<!-- Renderizar relação de seguimistas -->
<h1 style="text-align:center">Relação dos Seguimistas</h1>
<br>
<%= render "layouts/table_participants", participants: @participants %>


<h1 class="quebra-de-pagina"> Relação de Círculos </h1>
<% @circles.each do |circle| %>
    <h1 class="h3 mb-2 text-gray-800"><%= "Círculo " + circle.color if existeCirculo?(circle.id) %></h1>
        <%= render "layouts/table_circles", circle: circle, funcao: "Seguimista" if existeCirculo?(circle.id)%>
    <p class="quebra-de-pagina"></p>
<% end %>

<h1 class="quebra-de-pagina"> Relatório de Perguntas de Círculos </h1>
<%= render "relatorio_tema_um", circles: @circles %>


<p class="quebra-de-pagina"></p>


<!-- Renderizar equipes e equipistas -->
<h1 class="quebra-de-pagina">Relação de Equipes</h1>
<% @teams.each do |team| %>
    <h1 class="h3 mb-2 text-gray-800"><%= team.name %></h1>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Coordenador" if existeFuncao?(team.id, "Jovem Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Coordenador" if existeFuncao?(team.id, "Casal Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Apoio" if existeFuncao?(team.id, "Casal Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Apoio" if existeFuncao?(team.id, "Jovem Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Equipista" if existeFuncao?(team.id, "Casal Equipista")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Equipista" if existeFuncao?(team.id, "Jovem Equipista")%>
    <p class="quebra-de-pagina"></p>
<% end %>

<h1 class="quebra-de-pagina">Equipe Dirigente</h1>
<% @teamsManager.each do |team| %>
    <h1 class="h3 mb-2 text-gray-800"><%= team.name %></h1>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Coordenador" if existeFuncao?(team.id, "Jovem Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Coordenador" if existeFuncao?(team.id, "Casal Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Apoio" if existeFuncao?(team.id, "Casal Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Apoio" if existeFuncao?(team.id, "Jovem Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Equipista" if existeFuncao?(team.id, "Casal Equipista")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Equipista" if existeFuncao?(team.id, "Jovem Equipista")%>
<% end %>

<!-- Renderizar palestrantes -->
<h1 class="quebra-de-pagina">Palestrantes</h1>
<%= render "layouts/table_speakers", palestras: @palestras %>
