<%= render "capa" %>
<p class="quebra-de-pagina"></p>

<%= render "padroeiro_encontro" %>
<p class="quebra-de-pagina"></p>

<%= render "padroeiro_paroquia" %>
<p class="quebra-de-pagina"></p>

<!-- Renderizar relação de seguimistas -->
<h1 style="text-align:center">RELAÇÃO DE SEGUIMISTAS</h1>
<br>
<%= render "layouts/table_participants", participants: @participants %>


<h1 class="quebra-de-pagina"> RELAÇÃO DE CÍRCULOS </h1>
<% @circles.each do |circle| %>
    <h1 class="h3 mb-2 text-gray-800"><%= "Círculo " + circle.color if existeCirculo?(circle.id) %></h1>
        <%= render "layouts/table_circles", circle: circle, funcao: "Seguimista" if existeCirculo?(circle.id)%>
<% end %>

<div class="container quebra-de-pagina">
    <div class="row">
        <p class="text-center" style="margin-bottom: -15px" "><%= image_tag "logo.png", style:"width: 200px" %></p>
        <h3 class="text-center" id="tituloEncontroRelatorio"></h3>
        <h1 class="quebra-de-pagina" style="margin-top: -8px;">RELATÓRIO DE PERGUNTAS DE CÍRCULOS</h1>
    </div>
</div>

<%= render "relatorio_tema_um", circles: @circles %>
<%= render "relatorio_tema_dois", circles: @circles %>
<%= render "relatorio_tema_tres", circles: @circles %>


<p class="quebra-de-pagina"></p>


<!-- Renderizar equipes e equipistas -->
<h1 class="quebra-de-pagina">RELAÇÃO DE EQUIPES</h1>
<% @teams.each do |team| %>
    <h1 class="h3 mb-2 text-gray-800"><%= team.name %></h1>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Coordenador" if existeFuncao?(team.id, "Jovem Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Coordenador" if existeFuncao?(team.id, "Casal Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Apoio" if existeFuncao?(team.id, "Casal Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Apoio" if existeFuncao?(team.id, "Jovem Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Equipista" if existeFuncao?(team.id, "Casal Equipista")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Equipista" if existeFuncao?(team.id, "Jovem Equipista")%>
    <p class="quebra-de-pagina"></p>
<% end %>

<h1 class="quebra-de-pagina">EQUIPE DIRIGENTE</h1>
<% @teamsManager.each do |team| %>
    <h1 class="h3 mb-2 text-gray-800"><%= team.name %></h1>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Coordenador" if existeFuncao?(team.id, "Jovem Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Coordenador" if existeFuncao?(team.id, "Casal Coordenador")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Apoio" if existeFuncao?(team.id, "Casal Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Apoio" if existeFuncao?(team.id, "Jovem Apoio")%>
        <%= render "layouts/table_followers", team: team, funcao: "Casal Equipista" if existeFuncao?(team.id, "Casal Equipista")%>
        <%= render "layouts/table_followers", team: team, funcao: "Jovem Equipista" if existeFuncao?(team.id, "Jovem Equipista")%>
        <%= render "layouts/table_followers", team: team, funcao: "Dirigente Espiritual" if existeFuncao?(team.id, "Dirigente Espiritual")%>
<% end %>

<!-- Renderizar palestrantes -->
<div class="container quebra-de-pagina mb-4">
    <div class="row">
        <p class="text-center" style="margin-bottom: -15px" "><%= image_tag "logo.png", style:"width: 200px" %></p>
        <h2 class="text-center" id="tituloEncontroPalestra"></h2>
        <h1 class="text-center">PALESTRANTES</h1>   
    </div>
</div>
<%= render "layouts/table_speakers", palestras: @palestras %>

<p class="quebra-de-pagina">
    <%= image_tag "brasaoParoquia.png", height: 400, style:"margin-top: 100px"%>
</p>
