<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800"> Configurar Quadrante </h1>
    <div class="card shadow">
      <div class="card-body">
        <div id="alertaQuadrante" class="alert alert-success" style="visibility:hidden" role="alert">
          Configurado com sucesso!
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Capa</h3>
                <p class="card-text">Configure a data do encontro, data, hora e local do pós de avaliação, história do padroeiro e muito mais.</p>
                <button type="button" data-toggle="modal" data-target="#modalTitulo" class="btn btn-primary">Título Encontro</button>
                <button type="button" data-toggle="modal" data-target="#modalPos" class="btn btn-primary">Data Pós-Avaliação</button>
                <button type="button" data-toggle="modal" data-target="#modalPadroeiro" class="btn btn-primary">Padroeiro Encontro</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Círculos</h3>
                <p class="card-text">Configure o nome dos círculos, relatório de perguntas de círculo e muito mais.</p>
                <button type="button" data-toggle="modal" data-target="#modalNomeCirculos" class="btn btn-primary">Nome Circulos</button>
                <button type="button" data-toggle="modal" data-target="#modalPrimeiraReuniao" class="btn btn-primary">1º reunião</button>
                <button type="button" data-toggle="modal" data-target="#modalSegundaReuniao" class="btn btn-primary">2º reunião</button>
                <button type="button" data-toggle="modal" data-target="#modalTerceiraReuniao" class="btn btn-primary">3º reunião</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-success mt-5" onClick="gerarQuadrante()">Gerar Quadrante</button>
      </div>
    </div>
  </div>
</div>

<%= render "modais/modal_titulo" %>
<%= render "modais/modal_pos" %>
<%= render "modais/modal_padroeiro" %>

<%= render "modais/nome_circulos", circles: $circles %>
<%= render "modais/primeira_reuniao", circles: $circles %>
<%= render "modais/segunda_reuniao", circles: $circles %>
<%= render "modais/terceira_reuniao", circles: $circles %>