  <div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Detalhes Palestrante</h1>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="card-header">
            <h3 class="well"><%= @speaker.name %></h3>
        </div>

        <div class="container mt-4">
          <div class="form-horizontal">

            <div class="control-group">
              <label class="control-label show"><strong>Encontrista: </strong> Palestrante </label>
            </div>

            <div class="control-group">
              <label class="control-label show"><strong>Paróquia: </strong><%= @speaker.parish.name %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Telefone: </strong><%= @speaker.contact %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Email: </strong><%= @speaker.email %></label>
            </div>

            <div class="control-group">
                <label class="control-label show"><strong>Endereço: </strong><%= @speaker.address %></label>
            </div>

             <div class="control-group mt-4">
                <%= link_to 'Editar', edit_speaker_path(@speaker), class:"btn btn-primary" %>
                <%= link_to 'Voltar', speakers_path, class:"btn btn-secondary" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

