<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th class="show-quadrante" scope="col-4">Tema</th>
            <th class="show-quadrante" scope="col-3">Data/Horário</th>
            <th class="show-quadrante" scope="col-3">Palestrante</th>
            <th class="show-quadrante" scope="col-2">Contato</th>
        </tr>
    </thead>
    <tbody>
        <% palestras.each do |mc| %>
            <tr>
                <td class="show-quadrante"><%= mc.name%></td>
                <td class="show-quadrante"><%= mes_dia_ano_completo(mc.date_lecture)%><br><%= hora_minuto(mc.time_lecture)%></td>

                <% montagemPalestras(mc.id) %>
                <td class="show-quadrante">
                    <% @mountingLectures.each do |mc| %>
                        <%= mc.speaker.name %> <br>
                    <% end %>
                </td>
                <td class="show-quadrante">
                    <% @mountingLectures.each do |mc| %>
                        <%= mc.speaker.contact %> <br>
                    <% end %>
                </td>         
            </tr>
        <% end %>
    </tbody>
</table>