<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr class="<%= if circle.color == 'Vermelho' 
                        'vermelho' 
                        elsif circle.color == 'Verde' 
                        'verde' 
                        elsif circle.color == 'Azul'  
                        'azul'
                        elsif circle.color == 'Amarelo' 
                        'amarelo'
                        elsif circle.color == 'Rosa' 
                        'rosa'
                        else
                        'laranja'
                        end
                    %>" >
            <% buscarCoordenadorCirculo(circle.id) %>
            <th class="show-quadrante text-center th-padrinhos" colspan="12" scope="col-12">
                PADRINHOS JOVENS: 
                    <% @coordenadores.each do |c| %>
                        <%= c.participant.name + " | " %> 
                    <%end%> 
                    <br>
                PADRINHOS CASAL:
                    <% @casalApoio.each do |c| %>
                        <%= c.participant.name + " | " %> 
                    <%end%>
            </th>
        </tr>
    </thead>
    <tbody>
        <% buscarFuncaoCirculo(circle.id, funcao) %>
        <% @funcao.each do |c| %>
            <tr>
                <td class="show-quadrante text-center"><%= c.participant.name %></td>
                <td class="show-quadrante text-center"><%= "--" if !c.participant.surname.present? %><%= c.participant.surname %></td>
        <% end %>
    </tbody>
</table>
