<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th class="show-quadrante" style="background-color: #fbfbfb;" colspan="3" scope="col-12"><%=  maiuscula(funcao) %></th>
        </tr>
    </thead>
    <tbody>
        <% existeFuncao?(team.id, funcao) %>
        <% @funcoesPresente.each do |mc| %>
            <tr>
                <td class="show-quadrante fw-bold"><%= maiuscula(mc.follower.name) %></td>
                <td class="show-quadrante"><%= "--" if !mc.follower.email.present? %><%= maiuscula(mc.follower.email) %></td>
                <td class="show-quadrante"><%= maiuscula(mes_dia_ano(mc.follower.birth)) %></td>
            </tr>
                <tr>
                <td class="show-quadrante" colspan="2"><%= mc.follower.address%></td>
                <td class="show-quadrante"><%= "--" if !mc.follower.contact.present? %><%= mc.follower.contact %></td>
            </tr>
            <tr style="height: 20px"></tr>
        <% end %>
    </tbody>
</table>
